<div class="NotificationModal" id="pushNotificationsModal" style="display: none">
    <div class="modal-dialog modal-dialog-notif">
        <div class="modal-content modal-content-notif">
            <div class="modal-header">
                <h5 class="modal-title">Notifications</h5>
                <button type="button" class="close" style="outline: none" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="notification-main-container">
                    @*<div class="notif">
                            <div class="notification-body">
                                <div class="notification-type">
                                    <p class="notif-type-text">Information</p>
                                </div>
                                <div class="notification-title">
                                    <p class="notif-title-text">Update Yesterday Clock Out</p>
                                </div>
                                <div class="notification-message">
                                    <p class="notif-message-body-text">You have an update pending. Click <span style="color: red; cursor: pointer">here</span></p>
                                </div>
                                <div class="notification-signature">
                                    <p class="notif-signature-text">System</p>
                                </div>
                            </div>
                            <div class="notification-time">

                                <p class="notif-time-text"> 16 Nov 2021 at 9:30 AM</p>
                            </div>
                        </div>
                        <hr />
                        <div class="notif">
                            <div class="notification-body">
                                <div class="notification-type">
                                    <p class="notif-type-text">Information</p>
                                </div>
                                <div class="notification-title">
                                    <p class="notif-title-text">Update Yesterday Clock Out</p>
                                </div>
                                <div class="notification-message">
                                    <p class="notif-message-body-text">You have an update pending. Click <span style="color: red; cursor: pointer">here</span></p>
                                </div>
                                <div class="notification-signature">
                                    <p class="notif-signature-text">System</p>
                                </div>
                            </div>
                            <div class="notification-time">

                                <p class="notif-time-text"> 16 Nov 2021 at 9:30 AM</p>
                            </div>
                        </div>
                        <hr />
                        <div class="notif">
                            <div class="notification-body">
                                <div class="notification-type">
                                    <p class="notif-type-text">Information</p>
                                </div>
                                <div class="notification-title">
                                    <p class="notif-title-text">Update Yesterday Clock Out</p>
                                </div>
                                <div class="notification-message">
                                    <p class="notif-message-body-text">You have an update pending. Click <span style="color: red; cursor: pointer">here</span></p>
                                </div>
                                <div class="notification-signature">
                                    <p class="notif-signature-text">System</p>
                                </div>
                            </div>
                            <div class="notification-time">

                                <p class="notif-time-text"> 16 Nov 2021 at 9:30 AM</p>
                            </div>
                        </div>
                        <hr />
                        <div class="notif">
                            <div class="notification-body">
                                <div class="notification-type">
                                    <p class="notif-type-text">Information</p>
                                </div>
                                <div class="notification-title">
                                    <p class="notif-title-text">Update Yesterday Clock Out</p>
                                </div>
                                <div class="notification-message">
                                    <p class="notif-message-body-text">You have an update pending. Click <span style="color: red; cursor: pointer">here</span></p>
                                </div>
                                <div class="notification-signature">
                                    <p class="notif-signature-text">System</p>
                                </div>
                            </div>
                            <div class="notification-time">

                                <p class="notif-time-text"> 16 Nov 2021 at 9:30 AM</p>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CloseModal() {
        var $modal = $("#pushNotificationsModal");
        $modal.css("display", "none")
    }
</script>

<style>
    .notif p {
        margin: 0;
        font-size: 12px;
    }

    .notif-type-text {
        border-radius: 6px;
        padding-left: 6px;
    }

    .notif-title-text {
        margin: 8px 0 5px 0 !important;
        font-weight: bold;
    }

    .notification-message {
        margin: 0px 0 6px 0 !important;
    }

    .notif-signature-text {
        color: #f93939;
        font-weight: bold;
    }

    .notif-small-link-btn{
        font-size: 12px;

    }

    /*Colors form thead notif modal that will embed assigned based on the type of the notification*/
    .notif-blue {
        background: #4a7dff;
        color: white;
        /*width: 85px;*/
        border: 1px solid #4a7dff;
    }

    .notif-green {
        background: #51ce2c;
        color: white;
        /*width: 85px;*/
        border: 1px solid #51ce2c;
    }

    .notif-red {
        background: #f93939;
        color: white;
        /*width: 85px;*/
        border: 1px solid #f93939;
    }

    .notif-purple {
        background: #6500cd;
        color: white;
        /*width: 85px;*/
        border: 1px solid #6500cd;
    }
    .notif-orange {
        background: #fd9900;
        color: white;
        /*width: 85px;*/
        border: 1px solid #fd9900;
    }
</style>