<div class="NotificationModal" id="pushNotificationsModal" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notifications</h5>
                <button type="button" class="close" style="outline: none" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="notification-main-container">
                    <div class="notif">
                        <div class="notification-body">
                            <div class="notification-type">

                            </div>
                            <div class="notification-title">

                            </div>
                            <div class="notification-message">

                            </div>
                            <div class="notification-signature">

                            </div>
                        </div>
                        <div class="notification-time">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CloseModal() {
        var $modal = $("#pushNotificationsModal");
        $modal.css("display", "none")
    }
</script>