@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../Fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../Fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../Fonts/Poppins-SemiBold.ttf') format('truetype');
}
html, body {
    font-family: Poppins-Regular, sans-serif
}
body{
    margin: 0;
    padding: 0;
    background-color: #F2F3F7;
}

p{
    font-size: 14px;
    color: #656b7b;
}

h1{
    font-size: 20px;
    font-family: Poppins-Bold, sans-serif;
}
h2{
    font-size: 18px;
    font-family: Poppins-SemiBold, sans-serif
}

h3{
    font-size: 16px;
    font-family: Poppins-Regular, sans-serif
}
.page-tile{

}

.notif-number {
    font-size: 10px;
    vertical-align: top;
    font-weight: bold;
    position: absolute;
}

/*.modal-open{
    overflow: revert !important;

}*/

/*.modal-backdrop.show{
    opacity: 0;
}*/
.modal-dialog-notif {
    margin: 0;
    width: 300px;
    max-height: 600px;
}
.NotificationModal {
    position: fixed;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
    box-shadow: 0px 0px 27px -13px;
    overflow-y: auto;
    width: 300px;
}
.modal-content-notif {
    border: none !important;
    background: #F2F3F7;
}