@media screen and (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 4 !important;
        -moz-column-count: 4 !important;
        column-count: 4 !important;
    }
}
@media (max-width: 768px) {
   .col-md-9{
       width: 100% !important;
   }
    .user-time-status > div {
        max-width: 100%
    }
}
