/*.container {
    margin-left: 300px;
    margin-top: 43px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
*/

.conainer-padding{
    padding: 0.01em 50px;
}


.user-details{

    display: inline-block;
}


.user-body {
    padding: 1em;
}


.devider {
    width: 1px;
    height: 3em;
    display: inline-block;
    position: relative;
    float: right;
    transform: rotate(30deg);
    opacity: 26%;
}


.user-detail-title{
    font-weight: bold;
}

.timesheat-card-title {
    padding: 1em;
}


.timesheet-title {
    display: inline-block;
}

.user-choice {
    position: relative;
    float: right;
}

.user-choice select {
    border: none;
    outline: none;
    color: #4a7dff
}

.margin-right-1{
    margin-right: 1%;
    max-width: 74%
}
.drawning-canvas{
    margin-top: 10px
}


