.main-body-container {
    margin-left: 300px;
    margin-top: 41px;
    position: relative;
}
.portal-menu-top-btn {
    margin-top: 2em;
    margin-left: 3em;
    display: inline-block;
}
.portal-status-btn {
    margin: 0px 25px 0px 25px;
    
}
.portal-menu-top-select-items {
    display: inline-block;
    margin-left: 13em;
}
.form-group{
    margin-bottom: 0
}
.col-md-10{
    max-width: 75.3%;
    display: inline-block
}
#status-bar {
    /*    margin-top: 5em;*/
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 3em;
}
.status-bar-interval {
    float: left;
    padding: 0; 
    height: 6em;
    padding-top: 2em;
}
.display-curent-status{
    clear: both;
}
.record {
    display: inline-block;
    margin-right: 10em;
}
}
.record p{
    display: inline-block;
    margin: 0;
    padding: 0
}
.record-group {
    box-shadow: 1px 1px 9px 0px black;
    margin-bottom: 1em;
    padding: 1em;
}
.records-list-container {
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 3em;
}
.status-bar-tracker {
    background: white;
    border: 1px solid red;
    height: 6em;
}

.record  p  a {
    color: red;
    text-decoration: underline

}
.records-list-container h2 {
    text-align: center;
    margin-bottom: 1em;
}
.alert {
    width: 30%;
    position: absolute;
    margin-left: 27%;
    margin-top: 10px;
}
.left-postion {
    margin-left: 3em;
    margin-right: 3em;
   
}
.form-title {
    padding: 20px;
    text-align: center;
}
.update-form-wrapper {
    box-shadow: 0 0 7px -4px black;
    margin-top: 4em;
}
.status-title{
    text-align: center;
    padding-bottom: 1em;
}
.edit-actions-table {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
}
.page-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid green;
}

.page-title h1{
    margin-left:130px
}
.main-wrapper{
    padding-top:15px
}
#calendar{
    /*max-width: 1400px*/
}